sanic
asyncmy
motor
redis>=5,<7
aiomysql
python-dotenv
sanic-babel
sanic_cors
pytz
Jinja2
PyJwt
filelock
uvicorn
cryptography==37.0.4
pycryptodome==3.20.0
pycryptodomex==3.14.1
httpx
pytest
sanic-testing
