# {{ version_name }}/{{ module_name }}

RESTful routes:

- `GET /{{ version_name }}/{{ module_name }}`
- `GET /{{ version_name }}/{{ module_name }}/<id>`
- `POST /{{ version_name }}/{{ module_name }}`
- `PUT /{{ version_name }}/{{ module_name }}/<id>`
- `PATCH /{{ version_name }}/{{ module_name }}/<id>`
- `DELETE /{{ version_name }}/{{ module_name }}/<id>`
